.btn-container {
    display: flex;
    justify-content: space-between;
  }
  
  .btn-custom {
    flex: 1;
    margin: 0 5px; /* Ajuste o espaço entre os botões conforme necessário */
  }
  
  .btn-custom:first-of-type {
    margin-left: 0;
  }
  
  .btn-custom:last-of-type {
    margin-right: 0;
  }
  